next/

public/

dist/
.dist/
build/
docs/

skills/
.agents/
.claude/
.github/
.continue/

vendor/
bower_components/
node_modules/
.vscode/
.nuxt/
.next/
.output/

*.min.*

sw.js

*.md
*.json
spa-loading-template.html

components.d.ts

# Nuxt typed routes
generated
__typed-router.ts

# NX
/.nx/cache
/.nx/workspace-data
